 

    h1 {
      text-align: center;          
      letter-spacing: 5px;         
      word-spacing: 15px;          
      text-decoration: underline; 
      color: darkblue;
      font-family: Verdana, sans-serif;
    }


    p {
      text-align: justify;          
      line-height: 1.8;          
      letter-spacing: 1px;          
      word-spacing: 8px;           
            text-indent: 50px;            
      text-decoration: overline;    
      font-size: 18px;
      color: #444444;
      font-family: Arial, sans-serif;
    }
